@import "tailwindcss";

:root {
  --background: #fff9e5;
  --foreground: #1a1300;
}

@theme inline {
  --font-sans: var(--font-roboto);
  --font-serif: var(--font-merriweather);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-gold-50: #fff9e5;
  --color-gold-100: #fff2cc;
  --color-gold-200: #ffe599;
  --color-gold-300: #ffd966;
  --color-gold-400: #ffcc33;
  --color-gold-500: #ffbf00;
  --color-gold-600: #cc9900;
  --color-gold-700: #997300;
  --color-gold-800: #664c00;
  --color-gold-900: #332600;
  --color-azure-950: #1a1300;

  --color-azure-50: #e5ecff;
  --color-azure-100: #ccd9ff;
  --color-azure-200: #99b3ff;
  --color-azure-300: #668cff;
  --color-azure-400: #3366ff;
  --color-azure-500: #0040ff;
  --color-azure-600: #0033cc;
  --color-azure-700: #002699;
  --color-azure-800: #001966;
  --color-azure-900: #000d33;
  --color-azure-950: #000924;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1300;
    --foreground: #fff9e5;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-merriweather), var(--font-roboto);
}
